:root {
  --primary_black: #0C090D;
  --primary_green: #0CCE6B;
  --dashboard_main: #1f1f1f;
  --dashboard_accent: #E1E1E1;
  --dashboard_alternate: #2d2d2d;

}

* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}